* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  width: 80%;
  margin: 0 auto;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-logo {
  font-size: 60px;
  font-weight: 900;
}
.nav-logo:hover {
  cursor: pointer;
}
.nav-items {
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 1rem;
}
.nav-items input {
  font-size: 16px;
  border: none;
  /* outline: 1px solid gray; */
  outline: none;
  padding: 4px 8px;
  background-color: rgb(226, 226, 226);
}
.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  border-radius: 12px;
  background-color: rgb(226, 226, 226);
}
.search-icon {
  font-size: 25px;
  cursor: pointer;
}
.cart-icon {
  cursor: pointer;
  position: relative;
  top: 4px;
}
.item-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  position: absolute;
  top: -12px;
  right: -12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.cart-icon p {
  font-size: 16px;
  color: white;
  text-align: center;
}
/* Slider */
.slider {
  display: flex !important;
  align-items: center;
  background-color: #f6f6f6;
  max-height: 600px;
  min-height: 450px;
}
.slider-info {
  width: 60%;
  padding: 40px;
}
.slider-info h3 {
  font-size: 48px;
  position: relative;
  z-index: 1;
}
.slider-info p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  color: #333;
}
.slider-info span {
  color: #333;
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: bold;
}
.slider-btn {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  margin-top: 20px;
}
.slider-btn button {
  padding: 10px;
  border-radius: 16px;
}
.btn-dark {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.btn-light {
  background-color: white;
  color: #333;
  border: none;
  cursor: pointer;
}

.slider-img {
  width: 40%;
}
.slider-img img {
  max-width: 80%;
  position: relative;
  right: 40%;
  bottom: 10%;
  scale: 1.4;
}
/* Products */

.sort {
  background-color: #f6f6f6;
  padding: 8px;
  margin: 24px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.sort select {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  padding: 4px;
  border-radius: 2px;
}

/* Products Section */

/* Categories */
.section-products {
  background-color: #f6f6f6;
  display: flex;
  padding: 12px;
  gap: 40px;
}
.categories {
  display: flex;
  flex-direction: column;
}
.categories h4 {
  font-size: 24px;
  color: #333;
}
.categories-tabs {
  font-size: 20px;
  padding: 8px;
  color: #333;
}
.categories-tabs:hover {
  background-color: #333;
  color: #f6f6f6;
  border-radius: 4px;
  cursor: pointer;
}
/* Products */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.product-card {
  flex-basis: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
}
.product-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.product-card img {
  width: 300px;
  object-fit: contain;
  max-height: 400px;
}

.product-card-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product-card-desc h5 {
  font-size: 16px;
}

/* Paginate*/

.paginate {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px;
}
.paginate li {
  list-style: none;
  cursor: pointer;
}

/* Product Detail Page */

.product-detail {
  display: flex;
  gap: 40px;
}

.product-description h4 {
  font-size: 28px;
}
.product-rate {
  display: inline-block;
  margin: 16px 0;
  font-size: 20px;
  font-weight: bold;
}
.product-description p {
  width: 80%;
}
.count {
  display: block;
  color: red;
  margin-top: 24px;
}
.product-price {
  font-size: 36px;
  display: inline-block;
  font-weight: bold;
}
.product-count {
  display: flex;
}
.product-count div {
  font-size: 24px;
  padding: 2px 8px;
}
.product-count div:hover {
  cursor: pointer;
}
.product-counter {
  text-align: center;
  border: none;
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  cursor: default;
}

/* Cart Page */
.cart-item {
  padding: 16px;
  display: flex;
  gap: 20px;
}
.cart-item-img {
  width: 200px;
  height: 200px;
}
.cart-item-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.cart-item-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.cart-item-description span {
  display: block;
}
.cart-item-price{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.cart-item-del-btn{
  color: white;
  background-color: red;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.cart-totalAmount{
  font-size: 36px;
  text-align: end;
  font-weight: bold;
}
.footer {
  width: 100%;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 10px;
}
