.clouds{
    position: relative;
    padding: 50px;
    text-align: center;
}

.top-cloud{
    position: absolute;
    right: 30%;
}

.bottom-cloud{
    position: absolute;
    left: 30%;
}

.mountain{
   
}

.cem-photo{
    width: 100px;
    height: 100px;
}

.comp-photo{
    width: 100px;
    height: 100px;
}

.chilli-photo{
    width: 100px;
    height: 100px;
}
body  {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    font-size: 1em;
} 

h1 {
    color: #66BFBF;
    font-size: 5.625rem;  
    font-family: 'Sacramento', cursive;
    line-height: 1;
    margin: 2rem atuo 0 auto;
    
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 1rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top:100px ;

}

.middle-container{
    
}

.bottom-container{

}


